# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# builds
dist

# JetBrains IDEs
.idea

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output
