# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# builds
cjs
es
types

# Editors
.idea
.vscode

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Yarn (Zero-Installs + Plug'n'Play)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
