# test fixtures
src/tests

# Typescript configurations
tsconfig.*

# JetBrains IDEs
.idea

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nycrc
.nyc_output

# travis-ci
.travis.yml
