# test fixtures
tests

# Typescript configurations
tsconfig.*

# JetBrains IDEs
.idea

# Coverage directory used by tools like istanbul
coverage

# resource files
.*rc*

# nyc test coverage
.nyc_output

# eslint
.eslintignore

# github
.github
.dependabot

# source
src
